<h1>Author Bio</h1>
<div data-sly-use.author="${'com.aem.ugam.core.models.Author' @ rAttribute='TestAttribute'}"></div>

    <div>First Name :  ${author.firstName} </div>
    <div>Lasr Name :  ${author.lastName}   </div>
    <div>Is Professor:  ${author.isProfessor}  </div>
    <div>Page Title:  ${author.currentPageTitle}  </div>
    <div>Request Attribute :  ${author.reqAttribute}  </div>
    <div>Home Page Name :  ${author.myFirstPageName}  </div>
    <div>Modified By :  ${author.lastModifiedBy}  </div>

    <div>Books : ${author.books @ join=', '}</div>





